# requirements.txt

# Core libraries

pandas

# Image processing
Pillow
opencv-python

# Web framework (example: Flask)
django

#excel 
openpyxl
DuckDb
#Calamine==0.1.5

#dashboards
matplotlib
seaborn


#Open CV packages
pytesseract
#opencv-python==4.9.0.80


#full packages
asgiref
attrs
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
colorama
distlib
django-crispy-forms
et-xmlfile
filelock
h11
idna
iniconfig
outcome
packaging
platformdirs
pluggy
pycparser
PySocks
pytesseract
pytest
python-dateutil
pytz
requests
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
tzdata
urllib3
#virtualenv==20.24.7
wsproto
# From Instructor
asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django
django-anymail
django-cors-headers
django-jazzmin
django-storages
django-ckeditor-5
djangorestframework
djangorestframework-simplejwt
drf-yasg
environs
gunicorn
idna
inflection
jmespath
marshmallow
packaging
psycopg2
pycparser
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
requests
s3transfer
shortuuid
six
sqlparse
stripe
typing_extensions
tzdata
uritemplate
urllib3
moviepy

